@mixin cardAndButton($widthCard, $colorButton, $colorLink) {
    width: $widthCard;
    margin: 2rem auto;
    min-height: 100%;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;;
    box-shadow: .5rem .5rem .5em grey;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }
    &-img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
    }
    &-title {
        margin-top: 3rem;
    }
    p {
        font-size: 1.6rem;
        color: grey;
        padding: 2rem;
    }
    &-link {
        color: $colorButton;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
        width: 15rem;

        border: 2px solid $colorButton;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        &:hover,
        &:focus {
            color: white;
            background-color: $colorLink;
        }
    }
}